<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h2> {{ page.parent_title }} </h2>
        {% include docs_header.html %}
        <br />
        <h3> {{ page.title }} </h3>
        <br />
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include redhat-footer.html %}
  </body>

</html>
